{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "restParams": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true,
      "globalReturn": true,
      "jsx": true
    },
    "rules": {
        "react/jsx-uses-react": 1,
        "react/react-in-jsx-scope": 1,
        "indent": 2,
        "semi": [2, "always"],
        "camelcase": 0,
        "curly": 2,
        "eqeqeq": [2, "smart"],
        "new-cap": [2, {"capIsNewExceptions": ["Router"]}],
        "no-caller": 2,
        "quotes": [2, "single"],
        "space-after-keywords": 0,
        "no-undef": 2,
        "no-unused-vars": 2,
        "strict": [2, "global"],
        "no-trailing-spaces": [2, { "skipBlankLines": true }],
        "no-mixed-spaces-and-tabs": 2,
        "no-unused-expressions": 0,
        "max-depth": [2, 5],
        "no-lonely-if": 2,
        "no-use-before-define": [2, "nofunc"],
        "no-nested-ternary": 2,
        "comma-spacing": 2,
        "no-multi-spaces": 0,
        "no-mixed-requires": 2,
        "key-spacing": 2,
        "space-unary-ops": 2,
        "space-infix-ops": 2,
        "no-underscore-dangle": 0,
        "no-shadow": 2,
        "comma-dangle": 2,
        "no-alert": 0,
        "consistent-return": 2,
        "no-loop-func": 2
    },
    "globals": {
        "__moduleName": true,
        "_": true,
        "by": true,
        "browser": true,
        "inject": true,
        "xdescribe": true,
        "describe": true,
        "before": true,
        "beforeEach": true,
        "afterEach": true,
        "it": true
    }
}
