lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.tgz

pids
logs
results
.gomez
.eslintcodecache
.eslinttestcache
.idea

node_modules
jspm_packages
npm-debug.log
artifacts
coverage
dist
tmp

.vagrant/
VagrantFile
