<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body style="padding:20px;">
{{{body}}}
</body>

</html>
