<div id="app"></div>
<!--
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
-->
<script key="system" src="/jspm_packages/system.src.js"></script>
<script key="browser" src="/jspm.browser.js"></script>
<script key="config" src="/jspm.config.js"></script>
<script>
    System.import('web/main');
</script>
